body {
    background-color: black;
    color: #fcdcd9;
}

a {
    color:white;
    text-decoration:none;
}

div.outline-3,#table-of-contents,h2 {
    background-color:#3f3f3f;
    border-top-right-radius:1em;
    border-bottom-right-radius:1em;
    padding:1em;
    margin-top:1em;
    margin-bottom:1em;
}

div.outline-4 {
    background-color:#333333;
    border-top-right-radius:1em;
    border-bottom-right-radius:1em;
    padding-left:1em;
    padding-bottom:1em;    
    margin-top:-0.75em;
    margin-bottom:-0.75em;
}

pre.src,code {
    background-color:#262626;
    border-top-right-radius:1em;
    border-bottom-right-radius:1em;
    box-shadow:none;
    font-size:2em;
}
pre.src {
    margin:0;
    display:block;
    width:min-content;
}

table,td {
    border: 0.1em solid #fcdcd9;
}

tr {
    background-color:#333333;
}

tr:nth-child(even) {
    background-color:#3f3f3f;
}
